/*header e links*/
header{
    background-color: #fff;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
header > nav{
    display: flex;
}
header > nav > li{
    margin:0 15px;
}

.dinamico{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation: piscar 600ms steps(35) infinite normal, escrever 8s steps(35) 1s normal infinite;
}
@keyframes escrever{
    0%{width: 0;}
    50%{width: 17em;}
    100%{width: 0;}
}
@keyframes piscar{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}

/*hero*/
.hero{
    background-image: url(../assets/img/raphael-nogueira-OkiDIla7K8Q-unsplash.jpg);
    color: #fff;
    display: flex;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.hero > h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero > h3{
    font-size: 2rem;
    margin-bottom: 40px;
}
.btn{
    background-color: #fff;
    text-transform: uppercase;
    color: #191c03;
    border-radius: 5px;
    padding: 20px 50px;
}
/*section 2*/
.more{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.padrao-h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #191c03;
}
.padrao-p{
    text-align: center;
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
}
.padrao-hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 30px;
    border: none;
    animation-name: aumenta;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*carrossel*/
.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides > input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #fff;
}

/*newsletter*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background-color: #e5eabe;
}
.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}
.newsletter input{
    padding: 15px;
    border: 1px solid #191c03;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}
.newsletter button{
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    background-color: #c3c63b;
    color: #191c03;
    text-transform: uppercase;
    border: none;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 50px 0;
    align-items: center;
}
footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li{
    margin-right: 10px;

}
footer ul li:last-child{
    margin-right: 0;
}
footer ul li a{
    color: #c3c63b;
    font-size: 2rem;

}
footer p{
    color: #c3c63b;
    text-align: center;
}

@keyframes aumenta{
    0%{width: 20%;}
    50%{width: 70%;}
    100%{width: 20%;}
}
@media(max-width: 850px){
    header{
        flex-direction: column;
    }
    header > nav{
        margin-top: 15px;
    }
    .hero > h1{
        font-size: 2.5rem;
    }
    .hero > h3{
        font-size: 1.2rem;
    }
    .more .grid li.small, .more .grid li.large{
        flex-basis: 100%;
    }
    .slider{
        width: 400px;
        height: 200px;
    }
    .slides{
        width: 200%;
        height: 200px;
    }
    .slide{
        width: 50%;
    }
    .slide img{
        width: 400px;
    }
    .manual-navigation{
        width: 400px;
        margin-top: -25px;
    }
    .navigation-auto{
        width: 400px;
        margin-top: 175px;
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -50%;
    }
    #radio3:checked ~ .first{
        margin-left: -100%;
    }
    #radio4:checked ~ .first{
        margin-left: -150%;
    }
    .newsletter input{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}
